<div class="card clearfix searchmd">
        <h4 class="card-header">Application Querys</h4>
        <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label for="applicationName" class="col-sm-4 col-md-3 control-label">Application Name</label>
                        <input [(ngModel)]="app.resourceName" name="applicationName" type="text" class="form-control" placeholder="Application Name">
                    </li>
                    <li class="list-group-item">
                            <label for="applicationName" class="col-sm-4 col-md-3 control-label">Depoly Version</label>
                            <input [(ngModel)]="app.depolyVersion" name="dapibus" type="text" class="form-control" placeholder="Depoly Version">
                    </li>
                    <li class="list-group-item buttonfix">
                            <button type="button" class="btn btn-outline-success" (click)="search()">Search</button>
                            <button type="button" class="btn btn-outline-success" (click)="reset()">Reset</button>
                    </li>
                </ul>
		</div> 
</div>
<div class="container">
    <div class="card clearfix ">
        <h4 class="card-header">Results</h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let app of applicationList">
                        <th scope="row">{{app.id}}</th>
                        <td>{{app.resourceName}}</td>
                        <td>{{app.binaryUrl}}</td>
                        <td>{{app.queueFactory}}</td>
                </tr>
                </tbody>
            </table>
        <app-pagination
            (goPage)="goToPage($event)"
            (goNext)="nextPage()"
            (goPrev)="prevPage()"
            [pagesToShow]="4"
            [currPage]="currPage"
            [pageSize]="pageSize"
            [totalCount]="totalCount">
        </app-pagination>
        </div>
    </div>
</div>
