<div class="container-fluid overall">

<div class="col-xs-12" class="header" ></div>

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" (click)="applica()">Form</a>
                    <a class="dropdown-item" href="#" (click)="query()">Query</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        </div>
</nav>

<router-outlet></router-outlet>


<!-- <p [@myAwesomeAnimation]='state' (click)="animateMe()" [hidden]="show1">I will animate1</p>
<p [@myAwesomeAnimation]='state' (click)="animateMe()" [hidden]="show2">I will animate2</p>
<ul class="nav nav-tabs">
    <li  (click)="selectTab(tab)" >
        <a href="#">SIT</a>
        <a href="#">UAT</a>
    </li>
</ul>
<ng-content></ng-content> -->

</div>